html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  font-family: "Inter", sans-serif;
}
ul {
  list-style-type: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: #1b1b1b;
}
button {
  background-color: transparent;
  padding: 0;
  border: 0;
  cursor: pointer;
}
.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
.header-title {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #1b1b1b;
}
.menu__link {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #1b1b1b;
}
.menu__list li:last-child {
  margin-bottom: 0px;
}
.menu__item {
  margin-bottom: 10px;
}
.top {
  padding-top: 100px;
  margin-bottom: 100px;
}
.top-slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.top-slide__inner {
  min-height: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.top-slide__content {
  flex-basis: 183px;
  margin-top: -88px;
}
.top-slide__title {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  font-size: 70px;
  color: #1b1b1b;
}
.top-slide__subtitle {
  font-weight: 400;
  font-size: 24px;
  color: #1b1b1b;
  margin-bottom: 10px;
}
.top-slide__text {
  font-weight: 400;
  font-size: 14px;
  color: #1b1b1b;
  margin-bottom: 20px;
}
.top-slide__btn {
  margin-left: auto;
  border: 1px solid #7449bb;
  padding: 21px 55px;
  background: rgba(217, 217, 217, 0);
  font-weight: 700;
  font-size: 14px;
  color: #7449bb;
  display: inline-block;
  transition: all 0.3s ease;
}
.button {
  border: 1px solid #7449bb;
  padding: 21px 55px;
  background: rgba(217, 217, 217, 0);
  font-weight: 700;
  font-size: 14px;
  color: #7449bb;
  display: inline-block;
  transition: all 0.3s ease;
}

.button:hover,
.button:focus {
  color: #ffffff;
  background-color: #7449bb;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  content: none;
}
.container-arrow {
  position: relative;
  padding: 0;
  max-width: 1200px;
  padding-bottom: 50px;
}
.top .swiper {
  padding-bottom: 50px;
}
.swiper-button-next {
  left: 75px;
  right: auto;
}

.about {
  margin-bottom: 100px;
  overflow: hidden;
}
.about__inner {
  padding-left: 200px;
}
.about__title {
  width: 184px;
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1, 34;
  text-transform: uppercase;
  color: #1b1b1b;
  margin-bottom: 20px;
}
.about__textbox {
  margin-bottom: 150px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.about__text {
  flex-basis: 387px;
  line-height: 1, 2;
}
.about__text p {
  margin-bottom: 20px;
}
.about__text--bold {
  font-weight: 700;
}
.about__item-title {
  font-weight: 700;
  font-size: 14px;
  color: #000;
  margin-bottom: 20px;
}
.about__slider {
  width: 1800px;
  padding-left: 200px;
  margin-left: -200px;
}
.about__arrow {
  margin-left: -198px;
}
.container-arrow .swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 1;
}
.accordeon {
  margin-bottom: 223px;
}
.accourdeon__inner {
  padding-left: 200px;
}
.accourderon__item {
  border-bottom: 1px solid #000;
  padding: 0 101px 0 0;
  position: relative;
}
.accourderon__item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 51px;
  background-image: url(../images/arrow-down.svg);
  right: 85px;
  top: 50px;
}
.accourderon__item:last-child::after {
  content: "";
  position: absolute;
  background-image: url(../images/accourdeon_img.jpg);
  width: 65px;
  height: 120px;
  bottom: -73px;
  left: 268px;
}

.accourderon__triger {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding-top: 50px;
}
.accourderon__triger-text {
  font-weight: 400;
  font-size: 14px;
  color: #000;
  flex-basis: 387px;
  margin-right: 104px;
  padding-bottom: 20px;
}
.accourderon__triger-title {
  font-weight: 400;
  font-size: 24px;
  color: #000;
  text-transform: uppercase;
  flex-basis: 300px;
  padding-bottom: 42px;
}
.accourderon__content {
  padding-top: 20px;
  padding-bottom: 20px;
  display: none;
}
.accourderon__item--active .accourderon__content {
  display: block;
}
.accourderon__content p {
  margin-bottom: 10px;
}

.products {
  padding-bottom: 150px;
}
.products-inner {
  position: relative;
  min-height: 647px;
}
.products-title {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  font-size: 32px;
  color: #000;
  width: 100px;
}
.products-items {
  display: flex;
  column-gap: 20px;
  position: absolute;
  top: 0;
  left: 200px;
}
.products-item {
  text-align: center;
}
.product__item-step {
  font-weight: 700;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}
.product-item-name {
  margin-bottom: 10px;
}
.product-item-name span {
  display: block;
  font-weight: 700;
  margin-bottom: 10px;
}
.products__item-price {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  font-size: 32px;
  color: #000;
}
.products__item-img {
  margin-bottom: 20px;
}
/* videooo */
.video {
  padding-bottom: 150px;
}
.video__box {
  margin-left: auto;
  max-width: 997px;
  min-height: 600px;
  background-image: url(../images/video-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  background-color: #c4a9cd;
  padding: 66px 0 100px;
}
.footer__top {
  margin-bottom: 70px;
  display: flex;
  gap: 0 70px;
  justify-content: space-between;
}
.footer__logo {
  margin-right: 10px;
}
.footer__item + .footer__item {
  margin-top: 70px;
}
.footer__item-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  color: #000;
  margin-bottom: 10px;
}
.footer__item-input {
  width: 100%;
  display: block;
  padding: 10px 60px 10px 0;
  border: none;
  border-bottom: 1px solid #000;
  background-color: #c4a9cd;
  font-weight: 400;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
  font-family: "Inter", sans-serif;
}
.footer__item-input::placeholder {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
}
.footer__item-btn {
  position: absolute;
  right: 0;
  top: 10px;
}
.footer__item-form {
  position: relative;
}
.footer__items {
  flex-basis: 387px;
}
.footer__item-list li {
  padding-top: 10px;
}
.footer__item-link {
  font-weight: 400;
  font-size: 14px;
  color: #000;
}
.footer__social-list {
  margin-left: 10px;
  align-self: flex-end;
  margin-right: 105px;
}
.footer__social-item + .footer__social-item {
  margin-top: 20px;
}

.footer__nav {
  display: flex;
  justify-content: flex-end;
  margin-right: 105px;
}
.footer__nav-list {
  display: flex;
  gap: 0 20px;
}
.footer__nav-link {
  font-weight: 400;
  font-size: 14px;
  color: #000;
}
